*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

p {
  font-size: 1.6rem;
}

.btn {
  display: block;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FF79DA), to(#9345DC));
  background-image: linear-gradient(#FF79DA 1%, #9345DC);
  color: white;
  text-decoration: none;
  padding: 0 2rem;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 800px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 7.4rem;
  }
}

.header__logo {
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 7px 0 #888;
          box-shadow: 0 0 7px 0 #888;
  z-index: 1;
}

@media (min-width: 800px) {
  .header__logo {
    width: 100%;
  }
}

.header__logo img {
  display: block;
  margin: 2rem auto;
}

@media (min-width: 800px) {
  .header__logo img {
    margin: 2rem auto 2rem 10rem;
  }
}

.header__location {
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  background-color: #e4e4e4;
  text-align: center;
}

@media (min-width: 800px) {
  .header__location {
    max-width: 325px;
    height: 100%;
    -webkit-box-shadow: 0 0 7px 0 #888;
            box-shadow: 0 0 7px 0 #888;
  }
}

.header__location .fas {
  margin-right: 2rem;
}

.book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 27rem;
  background-color: #eee;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 490px) {
  .book {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 490px) {
  .book {
    height: 15rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media (min-width: 800px) {
  .book {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 10rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.book__heading {
  font-size: 2.6rem;
  font-weight: bold;
}

@media (min-width: 800px) {
  .book__heading {
    margin-bottom: .6rem;
  }
}

.book__paragraph {
  font-size: 1.8rem;
  text-align: center;
  margin: 0 5vh;
}

.guide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

@media (min-width: 490px) {
  .guide {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.guide__header {
  margin: 4rem 2rem 2rem 0;
}

.guide__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 6rem;
}

.guide__step {
  position: relative;
  width: calc(100% - 1rem);
  height: 6rem;
  margin-top: 2rem;
  margin-left: 1rem;
  background-color: #eee;
  border-radius: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-box-shadow: 0 5px 5px #ddd;
          box-shadow: 0 5px 5px #ddd;
}

.guide__step .fas {
  font-size: 2rem;
  line-height: 6rem;
  margin-left: 3rem;
  margin-right: 2.5rem;
  color: #6f6f6f;
}

.guide__step--highlight {
  background-color: #F5EDFF;
}

.guide__step--highlight .fas {
  color: #9345DC;
}

.guide__number {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #9345DC;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  font-size: 1.4rem;
  border-radius: 50%;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 960px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  height: 123rem;
  padding: 5rem 2rem;
  background-color: #eee;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 490px) {
  .restaurants {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.restaurants__header {
  margin-bottom: 3rem;
}

@media (min-width: 550px) {
  .restaurants {
    height: 70rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 800px) {
  .restaurants {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.restaurants__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 550px) {
  .restaurants__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.restaurants__restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 25rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  background-color: #fff;
}

@media (min-width: 550px) {
  .restaurants__restaurant {
    max-width: 47%;
    min-width: 245px;
    margin-bottom: 4rem;
  }
}

.restaurants__restaurant-img {
  height: 175px;
  overflow: hidden;
}

.restaurants__restaurant-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.restaurants__restaurant-img #enchanted-plate-img {
  -o-object-position: 0% 62%;
     object-position: 0% 62%;
}

.restaurants__text {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 2.5rem 0 1.5rem;
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.restaurants__title--new {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: .8rem 2.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  color: #278870;
  background-color: #99E2D0;
}

.restaurants__name {
  margin-bottom: .6rem;
}

.restaurants__heart {
  font-size: 2.5rem;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.restaurants__heart .fas,
.restaurants__heart .far {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.restaurants__heart .far {
  z-index: 1;
}

.restaurants__heart .fas {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FF79DA), to(#9345DC));
  background: linear-gradient(#FF79DA 1%, #9345DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
}

.restaurants__heart .far:hover {
  color: red;
}

.restaurants__heart .far:hover {
  opacity: 0;
}

.restaurants__heart .far:hover + .fas {
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */