.book {
    @include section-flex(column);
    align-items: center;
    justify-content: space-around;
    height: 27rem;
    background-color: $bgc-body-clr;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @media (min-width: 490px) {
        height: 15rem;
        justify-content: space-around;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @media (min-width: 800px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 10rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: bold;

        @media (min-width: 800px) {
            margin-bottom: .6rem;
        }

    }

    &__paragraph {
        font-size: 1.8rem;
        text-align: center;
        margin: 0 5vh;
    }

}