.restaurants {
    position: relative;
    @include section-flex(column);
    height: 123rem;
    padding: 5rem 2rem;
    background-color: $bgc-body-clr;
    justify-content: space-between;

    &__header {
        margin-bottom: 3rem;

    }

    @media(min-width: 550px) {
        height: 70rem;
        padding-left: $section-side-padding;
        padding-right: $section-side-padding;
    }

    @media(min-width: 800px) {
        padding-left: $section-side-padding * 2;
        padding-right: $section-side-padding * 2;
    }

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

        @media(min-width: 550px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__restaurant {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 25rem;
        margin-bottom: 2rem;
        border-radius: 2rem;
        background-color: $bgc;
        @include boxshadow;
        animation: opacity .4s 3s 1 linear backwards reverse;

        &:nth-child(1) {
            animation-delay: 3.2s;
        }

        &:nth-child(2) {
            animation-delay: 3.6s;
        }

        &:nth-child(3) {
            animation-delay: 4s;
        }

        &:nth-child(4) {
            animation-delay: 4.4s;
        }

        @media(min-width: 550px) {
            width: 47%;
            min-width: 245px;
            margin-bottom: 4rem;
        }
    }

    &__restaurant-img {
        height: 175px;
        overflow: hidden;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: bottom;
            border-top-left-radius: 2rem;
            border-top-right-radius: 2rem;
        }

        #enchanted-plate-img {
            object-position: 0% 62%;
        }

    }

    &__text {
        height: 60px;
        display: flex;
        margin: 1.5rem 2.5rem 0 1.5rem;
        margin-left: 1.5rem;
        margin-right: 2.5rem;
        justify-content: space-between;
    }

    &__title {
        &--new {
            position: absolute;
            top: 1.5rem;
            right: 1.5rem;
            padding: .8rem 2.6rem;
            font-size: 1.4rem;
            font-weight: bold;
            color: darken($tertiary-clr, 40%);
            background-color: $tertiary-clr;
        }
    }

    &__name {
        margin-bottom: .6rem;
    }
}