    // font-family: 'Roboto', sans-serif;
    // font-family: 'Shrikhand', cursive;


    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: $bgc;
        font-family: 'Roboto', sans-serif;
    }

    .site-wrapper {}

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.6rem;
    }

    a {
        color: inherit;
        text-decoration: none;
    }