.load-animation {
    position: absolute;
    top: 15%;
    left: 50%;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    opacity: 1;
    animation: opacity .2s 3s 1 linear forwards;

    @media (min-width: 550px) {
        top: 30%
    }
}

.animation-bar {
    background-color: $animation-bar-clr;
    width: 5px;
    margin: 4px;
    animation: loading-bar 3s 1 linear;

    &:nth-child(1) {
        animation-delay: .05s;
    }

    &:nth-child(2) {
        animation-delay: .1s;
    }

    &:nth-child(3) {
        animation-delay: .15s;
    }

    &:nth-child(4) {
        animation-delay: .20s;
    }

    &:nth-child(5) {
        animation-delay: .25s;
    }

    &:nth-child(6) {
        animation-delay: .30s;
    }

    &:nth-child(7) {
        animation-delay: .35s;
    }

    &:nth-child(8) {
        animation-delay: .40s;
    }

    &:nth-child(9) {
        animation-delay: .45s;
    }

    &:nth-child(10) {
        animation-delay: .50s;
    }

    &:nth-child(11) {
        animation-delay: .55s;
    }

    &:nth-child(12) {
        animation-delay: .65s;
    }
}

.animation-bar-short {
    height: 1rem;

    @media(min-width: 550px) {
        height: 1.5rem;
    }
}

.animation-bar-medium {
    height: 3rem;

    @media(min-width: 550px) {
        height: 4.5rem;
    }
}

.animation-bar-long {
    height: 5rem;

    @media(min-width: 550px) {
        height: 7.5rem;
    }
}