.btn {
    display: block;
    height: $btn-height;
    line-height: $btn-height;
    padding: 0 2rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: $btn-height /2;
    background-image: $btn-clr;
    color: white;
    text-decoration: none;
    transition: .2s;
    @include boxshadow;
}

.btn:hover {
    filter: brightness(110%);
    @include boxshadow(8px, #aaa);

}