.btn {
    display: block;
    height: $btn-height;
    line-height: $btn-height;
    font-size: 1.4rem;
    border-radius: $btn-height /2;
    background-image: linear-gradient($secondary-clr 1%, $primary-clr);
    color: white;
    text-decoration: none;
    padding: 0 2rem;
}