.heart {
    font-size: 2.5rem;
    align-self: start;

    .fas.fa-heart,
    .far.fa-heart {
        position: absolute;
        right: 2rem;
        cursor: pointer;
        transition: .3s;
    }

    .far.fa-heart {
        z-index: 1;
    }

    .fas.fa-heart {
        background: linear-gradient($secondary-clr 1%, $primary-clr);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        opacity: 0;
    }

    .far.fa-heart:hover {
        color: red;
    }

    .far.fa-heart:hover {
        opacity: 0;
    }

    .far.fa-heart:hover+.fas {
        opacity: 1;
    }
}