.header {
    &__logo {
        position: relative;

        .fa-arrow-left {
            position: absolute;
            font-size: 2rem;
            line-height: 6.7rem;
            margin-left: 2.5rem;
        }
    }
}

.bgc {
    &__img {
        img {
            width: 100%;
            max-height: 45rem;
            object-fit: cover;
            object-position: bottom;
        }
    }
}